
@tailwind base;
@tailwind components;
@tailwind utilities;

html 
{
	height: 100%;
}

body 
{
	min-height: 100%;
}


.small-caps
{
	font-variant: small-caps;
}


#logout
{	
	right: 26px;
  	top: 20px;
}

nav:after 
{
	content:"";
	display:table;
	clear:both;
}
