
@tailwind base;
@tailwind components;
@tailwind utilities;

html 
{
	height: 100%;
}

body 
{
	min-height: 100%;
}


.small-caps
{
	font-variant: small-caps;
}


#logout
{	
	right: 26px;
  	top: 20px;
}

.buttonPanel
{
	position:fixed;
	bottom:25px;
	width:100%;
	height:50px;
}

nav:after 
{
	content:"";
	display:table;
	clear:both;
}
	

