
@tailwind base;
@tailwind components;
@tailwind utilities;

.small-caps
{
	font-variant: small-caps;
}

#logout
{	
	right: 26px;
  	top: 20px;
}

.buttonPanel
{
	position:fixed;
	bottom:25px;
	width:100%;
	height:50px;
}


nav:after 
{
	content:"";
	display:table;
	clear:both;
}

nav ul 
{
	margin-right: 68px;
}
	

.h-9-10
{
	height: 88%;
}

