<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<title>Chesspairer</title>
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Utilities
						</button>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="/utilities/players">Players</a></li>
							<li><a class="dropdown-item" href="/utilities/tournament-players">Tournament players</a>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="px-1">
		<table class="table table-striped table-dark mt-5 ">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Name</th>
					<th scope="col">Birthdate</th>
					<th scope="col">EloRating</th>
					<th scope="col">Federation</th>
					<th scope="col">Club</th>
					<th scope="col">Redigera</th>
					<th scope="col">Radera</th>

				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="chessplayer : ${chessplayers}">
					<td class="align-middle" th:text="${chessplayer.getChessplayerId()}"></td>
					<td class="align-middle" th:text="${chessplayer.getChesstitle()}"></td>
					<td class="align-middle" th:text="${chessplayer.getName()}"></td>
					<td class="align-middle" th:text="${chessplayer.getBirthdate()}"></td>
					<td class="align-middle" th:text="${chessplayer.getEloRating('standard')}"></td>
					<td class="align-middle" th:text="${chessplayer.getFederation()}"></td>
					<td class="align-middle" th:text="${chessplayer.getChessclub().getChessclubName()}"></td>
					<td><button id="edit_${chessplayer.getChessplayerId()}" type="button"
							class="btn btn-primary edit-player">Edit</button></td>
					<td><button id="edit_${chessplayer.getChessplayerId()}" type="button"
							class="btn btn-danger delete-player">Delete</button></td>
				</tr>

			</tbody>
		</table>


		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
			Add a player
		</button>

		<!-- Modal -->
		<div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="addPlayerModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="addPlayerModal">Add a chessplayer</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form action="#" th:action="@{/add-chessplayer}" th:object="${chessplayer}" method="post">
						<div class="modal-body">
							<input class="form-control" placeholder="firstname" type="text" th:field="*{firstname}"
								required /><br />
							<input class="form-control" placeholder="lastname" type="text" th:field="*{lastname}"
								required /><br />
							<input class="form-control" name="birthdate" placeholder="YYYY-MM-DD" type="text"
								th:field="*{birthdate}" required /><br />
							<label class="form-label mx-1">Male</label><input class="form-check-input" type="radio"
								name="gender" th:field="*{biologicalSex}" th:value="male" />
							<label class="form-label mx-1">Female</label><input class="form-check-input" type="radio"
								name="gender" th:field="*{biologicalSex}" th:value="female" /><br />
							<select class="form-select" th:field="*{chessclub}">
								<option th:each="chessclub : ${chessclubs}" th:text="${chessclub.getChessclubName()}"
									th:value="${chessclub.getChessclubId()}"></option>
							</select>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<script>

		jQuery(".edit-player").click(function () {
			alert("here");
		});

	</script>


</body>

</html>